PORT=3000
JWT_SECRET=super_secret_campusfix_key_2026

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=tu_password
MYSQL_DATABASE=campusfix
MYSQL_PORT=3306

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=campusfix_nosql
